*
{
  box-sizing: border-box;
}

html body
{
  font-family: 'Raleway', sans-serif;
  max-width: 1440px;
  margin: auto;
}

/*header*/

.navbar
{
  display: flex;
  margin: 0px 25px 0px 25px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#logobooki
{
  height: 50px;
}

.navbar ul
{
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar li
{
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar li a
{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-align: center;
  height: 100%;
  padding: 0px 40px 0px 40px;
  border-top: 3px solid transparent;
}

.navbar li a:hover, .navbar li a:active, .navbar li a:focus
{
  color: #0065FC;
  border-top: 3px solid #0065FC;
}
  
/*header*/

main h1
{
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

main h2
{
  font-size: 25px;
  margin: 30px 0px 0px 30px;
}

#sectionhaute
{
  margin: 0px 30px 0px 30px;
}

#sectionhaute p
{
  margin: 10px 0px 10px 0px;
}

/*Recherche*/

.recherche img#pin
{
  display: inline-block;
  height: 50px;
  padding: 15px 15px 15px 15px;
  background-color: #F2F2F2;
  border-radius: 20% 0% 0% 20%;
}

.recherche img#search
{
  display: none;
}

form
{
  display: flex;
  height: 100%;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

input[type=search] 
{
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  border-left: none;
  border-right: none;
  border-radius: 0;
  height: 50px;
  padding-right: 25px;
  padding-left: 15px;
}

input:focus, textarea:focus, select:focus
{
  outline: none;
}

[type="search"]::-webkit-search-cancel-button
{
  -webkit-appearance: none;
}

::placeholder
{
color: black;
font-weight: bold;
}

form button 
{
  width: 125px;
  background: #0065FC;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 0px 20px 20px 0px;
  height: 50px;
  font-weight: bold;
}

form button:hover
{
  cursor: pointer;
}

/*Recherche*/

/*Filtres*/

.filtregeneral
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0px 20px 0px;
}

.filtres
{
  display: flex;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.filtrem
{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0px 35px 5px 0px;
}

.blocfiltre
{
  display: flex;
  align-items: center;
  max-height: 40px;
  box-sizing: border-box;
  margin-bottom: 7.5px;
  margin-top : 7.5px;
  padding-right: 15px;
}

.filtres i
{
  display: flex;
  color: #0065FC;
  background-color: #DEEBFF;
  height: 35px;
  width: 35px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: -20px;
  z-index: 1;
}

.textfiltre
{
  display: flex;
  font-weight: bold;
  padding-top : 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 15px;
  margin-right: 20px;
  border: 2px solid #F2F2F2;
  height: 35px;
  align-items: center;
  border-radius: 0px 100px 100px 0px;
}

.blocfiltre:hover .textfiltre, .blocfiltre:active .textfiltre
{
  color: white;
  background-color: #0065FC;
  border-color: #0065FC;
  cursor: pointer;
}

.blocfiltre:hover i, .blocfiltre:active i
{
  color: white;
  background-color: #0065FC;
  cursor: pointer;
}

/*Filtres*/

/*Info*/

.info
{
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.info p
{
  padding: 0;
  padding-left: 15px;
}
  
.info i
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #F2F2F2;
  border-radius: 100%;
  min-height: 30px;
  min-width: 30px;
  color: #0065FC;
}

/*Info*/

.section-grise
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 30px 0px 30px;
}

.section-grise button
{
  display: flex;
  width: 110px;
  background: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: none;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.section-grise button:hover
{
  cursor: pointer;
}

.etoilebleue
{
  color: #0065FC;
}

.etoilegrise
{
  color: #F2F2F2;
}

/*Hébergements*/

#section_h
{
  width: 69%;
  margin-right: 30px;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.cardgeneral
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.card 
{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 230px;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  min-width: 220px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.card:hover
{
  transform: scale(1.1);
}

.card a 
{
  color: black; 
  text-decoration: none;
}

.card-image
{
  display: flex;
  margin: 5px;
  border-radius: 20px 20px 0px 0px;
  height: 140px;
  overflow: hidden;
}
.card-image img
{
  object-fit: cover;
  width: 100%;
}

.card-body
{
  padding: 0px 0px 0px 15px;
  display: flex;
  flex-direction: column;
}
  
.card-body p
{
  margin: 4px 0px 4px 0px;
}

.card-title
{
  font-weight: bold;
  font-size: 15px;
}

.card-price
{
  font-size: 13px;
}

.card-notation
{
  margin: 5px 0px 5px 0px;
  display: flex;
}

/*Hébergements*/

/*Populaires*/
  
.populaires
{
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 30%;
}

.grow
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.grow i
{
  padding-top: 30px;
  padding-right: 30px;
}


.cardgeneralpop
{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.cardpop
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 160px;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.cardpop:hover
{
  transform: scale(1.1);
}
  
.cardpop a 
{
  display: flex;
  color: black; 
  text-decoration: none;
}

.card-imagepop
{
  margin: 5px;
  border-radius: 20px 0px 0px 20px;
  width: 33%;
  overflow: hidden;
}

.card-imagepop img
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-bodypop
{
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  width : 66%;
}

.card-bodypop p
{
  margin: 4px 0px 4px 0px;
}

.card-titlepop
{
  font-weight: bold;
  font-size: 15px;
}

.card-pricepop
{
  font-size: 13px;
}

.card-notationpop
{
  width: max-content;
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.card-notationpop i
{
  margin-bottom: 15px;
}

/*Populaires*/

@media screen and (min-width : 992px) and (max-width : 1250px)
{
  .card 
  {
    width : 45%;
  }
  #section_h
  {
    width: 65%;
  }
  .populaires
  {
    width: 35%;
  }
}

/*Activités*/

#section_a
{
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 35px 30px 70px 30px;
}

#section_a h2
{
  margin-left: 0px;
}

#section_a p
{
  font-weight: bold;
  margin: 0px;
  padding: 15px 15px 15px 15px;
}

.cardgeneral-a
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.moitie1
{
  display: flex;
  justify-content: space-between;
  width: 49%;
}
  
.moitie2
{
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.double
{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

/*Vieux Port + Parc National des Calanques*/

.card-grande
{
  width: 48%;
  height: 400px;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
    
.card-grande:hover
{
  transform: scale(1.1);
}

.card-grande p
{
  position: absolute;
  bottom : 0px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
}
    
.card-grande a 
{
  color: black; 
  text-decoration: none;
}
    
.card-image-grande
{
  border-radius: 20px 20px 20px 20px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
    
.card-image-grande img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Vieux Port + Parc National des Calanques*/

/*Fort de Pomègues*/

.card-pomegues
{
  display: flex;
  height: 55%;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
    
.card-pomegues:hover
{
  transform: scale(1.1);
}
    
.card-pomegues a 
{
  display: flex;
  flex-direction: column;
  color: black; 
  text-decoration: none;
}
    
.card-image-pomegues
{
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  position: relative;
}
    
.card-image-pomegues img
{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Fort de Pomègues*/

/*Îles du Frioul*/

.card-frioul
{
  display: flex;
  flex-direction: column;
  height: 40%;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
    
.card-frioul:hover
{
  transform: scale(1.1);
}
    
.card-frioul a 
{
  color: black; 
  text-decoration: none;
}
    
.card-image-frioul
{
  border-radius: 20px 20px 0px 0px;
  height: 110px;
  overflow: hidden;
  position: relative;
}
    
.card-image-frioul img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
/*Îles du Frioul*/

/*Notre-Dame-de-la-Garde*/

.card-notredame
{
  display: flex;
  height: 40%;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
    
.card-notredame:hover
{
  transform: scale(1.1);
}
    
.card-notredame a 
{
  display: flex;
  flex-direction: column;
  color: black; 
  text-decoration: none;
}
    
.card-image-notredame
{
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  position: relative;
}
    
.card-image-notredame img
{
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Notre-Dame-de-la-Garde*/

/*Parc Longchamp*/

.card-longchamp
{
  display: flex;
  height: 55%;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
    
.card-longchamp:hover
{
  transform: scale(1.1);
}
    
.card-longchamp a 
{
  display: flex;
  flex-direction: column;
  color: black; 
  text-decoration: none;
}
    
.card-image-longchamp
{
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  position: relative;
}
    
.card-image-longchamp img
{
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Parc Longchamp*/

@media screen and (min-width : 768px) and (max-width : 1100px)
{
  .cardgeneral-a
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
  }
  .moitie1
  {
    width: 100%;
  }
  .moitie2
  {
    width: 100%;
    margin-top: 35px;
  }
}

/*Activités*/

/*Footer*/

footer
{
  display: flex;
  justify-content: space-between;
  padding: 35px 365px 35px 30px;
  background-color: #F2F2F2;
  margin-top: 35px;
}

footer ul
{
  list-style: none;
  padding: 0px;
}

footer a
{
  text-decoration: none;
  color: black;
}

footer li
{
  padding: 10px 0px 5px 10px;
}

.bold_li
{
  font-weight: bold;
  padding-bottom: 15px;
}

/*Footer*/