body
{
  font-family: 'Raleway', sans-serif;
}

/*header*/

.navbar
{
  display: flex;
  margin: 20px 0px 20px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#logobooki
{
  height: 50px;
}

.navbar ul
{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar li
{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-bottom: 3px solid #F2F2F2;
}

.navbar li a
{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  text-align: center;
  height: 100%;
  padding: 0px 0px 0px 0px;
  border-bottom: transparent;
}

.navbar li a:hover, .navbar li a:active, .navbar li a:focus
{
  border-top: transparent;
}

.navbar li:hover, .navbar li:active, .navbar li:focus
{
  color: #0065FC;
  border-bottom: 3px solid #0065FC;
}

/*header*/

/*Recherche*/

.recherche
{
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.recherche img#search
{
  display: flex;
  height: 50px;
  padding: 15px 15px 15px 15px;
  background-color: #0065FC;
  border-radius: 20% 20% 20% 20%;
  margin-left: -10px;
}

form button
{
  display: none;
}

/*Recherche*/

.section-grise
{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

/*Hébergements*/

#section_h
{
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cardgeneral
{
  padding: 0px 30px 0px 30px;
}

.card 
{
  width: 100%;
  height: 250px;
  background-color: white; 
  box-shadow: 0px 5px 20px #999;
  border-radius: 20px;
  min-width: 220px;
  margin-top: 25px;
}

.card-image
{
  margin: 5px;
  border-radius: 20px 20px 0px 0px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.card-image img
{
  width: 100%;
  transition: all .2s ease-in-out;
  position: absolute;
   object-fit: contain;
}

.card-title h1
{
  margin: 0%;
  padding-left: 0%;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
}

.card-price h3
{
  font-weight: normal;
  font-size: 13px;
  margin: 0%;
  margin-bottom: 8px;
}

.card:hover
{
  transform: scale(0.95);
}

/*Hébergements*/

/*Populaires*/

.populaires
{
  background-color: #F2F2F2;
  border-radius: 0px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.grow
{
  padding:0px;
}

.cardgeneralpop
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px 50px 30px;
}

.cardpop:hover
{
  transform: scale(0.95);
}

/*Populaires*/

/*Activités*/

.cardgeneral-a
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.moitie1
{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.moitie2
{
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.double
{
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.card-pomegues
{
  height: 200px;
}

.card-frioul
{
  height: 200px;
  margin-top: 30px;
}

.card-notredame
{
  height: 200px;
}

.card-longchamp
{
  height: 200px;
  margin-top: 30px;
}

.card-grande
{
  width: 100%;
  height: 200px;
}

.card-grande:hover
{
  transform: scale(0.95);
}

.card-frioul:hover
{
  transform: scale(0.95);
}

.card-pomegues:hover
{
  transform: scale(0.95);
}

.card-notredame:hover
{
  transform: scale(0.95);
}

.card-longchamp:hover
{
  transform: scale(0.95);
}

/*Activités*/

/*Footer*/

footer
{
  flex-direction: column;
  padding: 35px 30px 35px 30px;
}

/*Footer*/